* {
    margin: 0;
    padding: 0;
}
#tabuleiro {
    width: 220px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
}
#tabuleiro div {
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    margin: auto;
}
